<header>
  <div class="container">
    <h1>
      {{ title }}
    </h1>
  </div>
</header>

<main>
  <div class="container">
    <div class="nav">

      <a class="a-menu"> <div class="menublock">
        <i class="icon-cog-alt"></i><br>
        Edycja danych
      </div></a>
      <a class="a-menu"> <div class="menublock">
        <i class="icon-bank"></i><br>
        Oddział
      </div></a>
      <a class="a-menu"> <div class="menublock">
        <i class="icon-cab"></i><br>
        Samochody
      </div></a>
      <a class="a-menu">
        <div class="menublock">
          <i class="icon-user"></i><br>
          Klient
        </div></a>
      <a class="a-menu"> <div class="menublock">
        <i class="icon-calendar"></i><br>
        Rezerwacja
      </div></a>
      <a class="a-menu"> <div class="menublock">
        <i class="icon-chart-bar-outline"></i><br>
        Statystyki
      </div></a>
    </div>
    <div class="content">
    <router-outlet></router-outlet>
    </div>
  </div>

</main>

<footer>
  <div class="container">
    Copyright &copy; 2020 by SDA.
  </div>
</footer>
