<section>

    <div class="editblock">

      <h4>Edycja</h4>
      <table class="table100-13">
        <thead>
        <tr>
          <th ></th>
          <th></th>
          <th></th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td  class="tdName" >    <label for="name">Nazwa: </label></td>
          <td class="td57">
            <div class="tableDiv">
              <input type="text"  id="name" [(ngModel)]="companyData.name"></div></td>
          <td>
            <button (click)="save()" class="button button-green" [routerLink]="['/home']"><i class="icon-wrench"></i></button>
            <button  class="button button-red" [routerLink]="['/home']"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        <tr>
          <td>
            <label for="webDomain">Domena: </label>

          <td>
            <div class="tableDiv"> <input type="text" id="webDomain" [(ngModel)]="companyData.webDomain"></div></td>
          <td>
            <button class="button button-green"><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        <tr>
<!--          <td>      <label for="company_address">Adres: </label>-->
<!--          </td>-->
<!--          <td><div class="tableDiv"><input type="text" id="company_address" ></div></td>-->
<!--          <td>-->
<!--            <button class="button button-green"><i class="icon-wrench"></i></button>-->
<!--            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>-->
<!--          </td>-->
        </tr>
        <tr>
          <td>      <label for="owner">Właściciel: </label>
          </td>
          <td><div class="tableDiv"> <input type="text" id="owner"[(ngModel)]="companyData.owner" ></div></td>
          <td>
            <button class="button button-green"><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        <tr>
          <td>         <label for="logoURL">Logotyp: </label>

          </td>
          <td> <div class="tableDiv"> <input type="text" id="logoURL"[(ngModel)]="companyData.logoURL" ></div></td>
          <td>
            <button (click)="save()" class="button button-green" ><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="block">
      <b>Edycja adresu</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nam officiis corporis, obcaecati
    </div>
    <div class="block">
      Edycja właściciela
    </div>
    <div class="block">
      Edycja logotypu
    </div>




</section>
