<section >




    <div class="editblock">

      <h4>Edycja</h4>
      <table class="table100-13">
        <thead>
        <tr>
          <th ></th>
          <th></th>
          <th></th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td  class="tdName" >    <label for="company_name">Nazwa:</label></td>
          <td class="td57">
            <div class="tableDiv">
              <input type="text"  id="company_name" ></div></td>
          <td>
            <button class="button button-green"><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        <tr>
          <td>
            <label for="domain">Domena:</label>

          <td>
            <div class="tableDiv"> <input type="text" id="domain" ></div></td>
          <td>
            <button class="button button-green"><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        <tr>
          <td>      <label for="company_adress">Adres:</label>
          </td>
          <td><div class="tableDiv"><input type="text" id="company_adress" ></div></td>
          <td>
            <button class="button button-green"><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        <tr>
          <td>      <label for="company_owner">Właściciel:</label>
          </td>
          <td><div class="tableDiv"> <input type="text" id="company_owner" ></div></td>
          <td>
            <button class="button button-green"><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        <tr>
          <td>         <label for="logotype">Logotyp</label>

          </td>
          <td> <div class="tableDiv"> <input type="text" id="logotype" ></div></td>
          <td>
            <button class="button button-green"><i class="icon-wrench"></i></button>
            <button  class="button button-red"><i class="icon-cancel-circled"></i></button>
          </td>
        </tr>
        </tbody>
      </table>








    </div>
    <div class="block">
      <b>Edycja adresu</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nam officiis corporis, obcaecati
    </div>
    <div class="block">
      Edycja właściciela
    </div>
    <div class="block">
      Edycja logotypu
    </div>




</section>
