
.icon-user:before { content: '\cc'; } /* 'Ì' */
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-right-big:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-chart-bar-outline:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-left-big:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-plus-circled:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-credit-card:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-user-delete:before { content: '\e80d'; } /* '' */
.icon-user-delete-outline:before { content: '\e80e'; } /* '' */
.icon-user-add:before { content: '\e80f'; } /* '' */
.icon-doc-add:before { content: '\e810'; } /* '' */
.icon-folder-add:before { content: '\e811'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-expeditedssl:before { content: '\f23e'; } /* '' */