
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&display=swap');



* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 16px;
  margin: 0;
  background-color: rgb(0, 0, 252);
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.container {
  margin: 0 auto;

  width: 100%;

}
.nav{

  display: flex;
  background-color: rgb(159, 207, 240);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  flex-wrap: wrap;
}
.content{

  width: 100%;
  background-color:rgb(159, 207, 240);
  display: flex;
  flex-flow: wrap;
justify-content: center;




}
.menublock{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: whitesmoke;
  margin: 10px;
  flex: 200px;
  flex-direction: column;
  border-radius: 20px;
  flex:1;
  text-align: center;
  font-weight: 800;
  font-size: 1.3em;





}
.block{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  flex-direction: column;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  max-width: 720px;

}
.editblock{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  /* flex-direction: column; */
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  max-width: 620px;
  min-width: 250px;
  text-align: left;
  font-size: 25px;
  flex: auto;
}
.table100-13{
  width: 100%;
  height: 13em
}

.a-menu {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: whitesmoke;
  margin: 20px;
  flex: 200px;
  border-radius: 20px;
  text-align: center;
  color: black;
}

.a-menu:hover {
  display: block;
  background-color: rgb(93, 161, 238);
  color: lightskyblue;
}
a{
  color:  darkblue;
}
a:hover{
  color: blue;
}
h2 {
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 2px solid #eeeeee;
}

h4{
  text-align: center;
  padding-bottom: 0px;;
  text-transform: uppercase;

}


.button {

  display: inline-block;
  margin: 2px;
  padding: 15.5px 25px 12.5px 25px;
  border: 0;
  border-radius: 0;
  background: #999999;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background: #888888;
  color: #ffffff;
}

.button:active,
.button:focus {
  background: #777777;
  outline: 0;
}


.button-green {
  background: #33cc55;
}
.button-green:hover {
  background: #80838d;
}
.button-green:active,
.button-green:focus {
  background: #80838d;
}


.button-red {
  background: #e74c3c;
}
.button-red:hover {
  background: #80838d;
}
.button-red:active,
.button-red:focus {
  background: #80838d;
}
label {
  display: block;
}
table tbody > tr:nth-child(odd) {
  background:rgb(233, 230, 230);
}


input {
  height: 44px;
  border: 1px solid #cecece;
  border-radius: 0;
  font-size: 20px;
  color: #52545a;
  padding-left: 8px;
  padding-right: 8px;
  width: max-content;


}
input:active,
input:focus {
  border: 1px solid #80838d;
  outline: 0;
}


header {
  padding-top: 15px;
  padding-bottom: 10px;
  background: darkblue;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #cecece;
  margin-bottom: 30px;
}



main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}


footer {
  background: #262930;
  color: #bab9b9;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}


@media (min-width: 992px) {
  .container {
    max-width: 1700px;
  }
}
