<section>
<div class="editblock" *ngFor="let branch of branches">
  <table >
    <thead>
    <tr >
      <th colspan="3" ><h4>Oddział nr. {{branch?.id}} <br/> ul. {{branch?.address?.streetWithNumber}}, {{branch?.address?.postalCode}} {{branch?.address?.city}}</h4></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td  colspan="3"><h5>Lista pracowników</h5></td>
    </tr >
    <tr >
      <td colspan="2"><h6>Imię i nazwisko</h6></td>
      <td><h6>Pozcyja</h6></td>
    </tr>
    <tr *ngFor="let employee of branch.employees">
      <td colspan="2"><p>{{employee?.firstName}} {{employee?.lastName}}</p></td>
      <td><p>{{employee?.position}}</p></td>
    </tr>
    <tr>
      <td colspan="3"><h5>Samochody</h5></td>
    </tr>

    <tr>
      <td colspan="2"><p>auto 1</p></td>
      <td><p>Dostępne: <br/>20.10.20</p></td>
    </tr>
    </tbody>
  </table>

</div>
</section>
