<section>
<div class="editblock">
  <table>
    <thead>
    <tr>
      <th colspan="3">Oddział</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="3">Lista pracowników</td>
    </tr>
    <tr>
      <td colspan="2">Imię i nazwisko pracownika</td>
      <td>Pozcyja</td>
    </tr>
    <tr>
      <td colspan="2">Pracownik 1</td>
      <td>manager</td>
    </tr>
    <tr>
      <td colspan="3">Samochód</td>
    </tr>
    <tr>
      <td colspan="2">samochod<br></td>
      <td>dostępny w danej lokalizacji</td>
    </tr>
    <tr>
      <td colspan="2">auto 1</td>
      <td>20.10.20</td>
    </tr>
    </tbody>
  </table>

</div>
</section>
