<section>
  <div class="editblock">
    <h4>Dane firmy</h4>
    <table style="width: 100%; height: 13em">
      <thead>
      <tr>
        <th> </th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="width: 20%">     <label >Nazwa:</label></td>
        <td>{{companyData.name}}</td>
      </tr>
      <tr>
        <td>
          <label>Domena:</label>

        <td> </td>
      </tr>
      <tr>
        <td>      <label >Adres:</label>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>      <label>Właściciel:</label>
        </td>
        <td> </td>
      </tr>
      <tr>
        <td>         <label >Logotyp</label>

        </td>
        <td>  </td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
